<%= render "devise/shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @post.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @post.image ,class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @post.price %>
      </span>
      <span class="item-postage">
      </span>
    </div>

    <div class="like">
    <div id="likes_buttons<%= @post.id %>">
 <%= render partial: 'likes/like', locals: { post: @post, like: @like} %>
    </div>
      <%= link_to image_tag('twitter.icon.jpg', size: '40x40'), "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank',  class: "twitter-icon" %>
      <a href="javascript:window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">
      <%= image_tag 'facebook.icon.png' , size: '40x40', class: "facebook-icon"  %>
      </a>
      <a href="javascript:window.open('http://line.me/R/msg/text/?'+encodeURIComponent(document.title)+'%20'+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">
      <%= image_tag 'line.icon.png' , size: '40x40' , class: "line-icon" %>
      </a>
      </div>

    <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to '編集', edit_post_path(@post.id), method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', post_path(@post.id) , method: :delete, class:'item-destroy' %>
    <% end %> 
    <div class="item-explain-box">
    <div class="grad-wrap">
      <input id="trigger1" class="grad-trigger" type="checkbox">
      <div class="grad-item"><span><%= simple_format(@post.text) %></span></div>
      <label class="grad-btn" for="trigger1"></label>
    </div>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= link_to @post.user.nickname, "/users/#{@post.user_id}" %></td>
        </tr>
        <tr>
          <th class="detail-item">ジャンル</th>
          <td class="detail-value"><%= @post.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item">アレルギー情報</th>
          <td class="detail-value"><%= @post.allergies %> 不使用<span>※</span></td>
        </tr>
        <tr>
          <th class="detail-item">お店の名前</th>
          <td class="detail-value"><%= @post.store_name %></td>
        </tr>
        <tr>
          <th class="detail-item">お店の住所</th>
          <td class="detail-value"><%= @post.address %><a href="https://www.google.co.jp/maps", target="_blank">Googleマップ</a></td>
        </tr>
      </tbody>
    </table>
    <p><%= @post.created_at.strftime('%Y/%m/%d') %>に投稿</p>
    <p class="option-warn">
    ※アレルギー情報の記載に関しては、記載漏れ等の可能性もありますので、詳細は店舗様にて各自ご確認をお願いします。<span class="br">
    </span>※投稿された食品はアレルギー症状が発生しないことをお約束するものではありません。ご利用いただくユーザー様の症状の程度や<span class="br">その日の体調により、微量の混入でもご発症される可能性もございます。</span>
    <span class="br">以上のことから、当サイトとしてすべての責任を負いかねますのでご了承のほどお願い申し上げます。</span>
    </p>
  </div>

  <div class="comment-box">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", class:"comment-text", rows:"10" ,maxlength:"50" %>
          <p class="comment-warn">
            相手のことを考え丁寧なコメントを心がけましょう。
            <br>
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          </p>
          <%= form.submit "Comment", class:"comment-btn" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
            <%= comment.created_at.strftime('%Y/%m/%d') %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/footer" %>